/.idea
*.iml
*/*.iml
*/.DS_Store
*/.classpath
*/.idea
*/.project
*/.settings
*/WEB-INF/classes
*/WEB-INF/lib
*/bin
*/logs
*/target
.DS_Store
.classpath
.idea
.project
.settings
/.settings
/.sonar
/bin
/logs
/target